body {
    color: #ffffff;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url("../images/pandu.JPG");
    background-size: cover;
    background-position: center;
    background-color: #34495e;
    background-attachment: fixed;
    z-index: 9;
    font-family: 'PT Sans Narrow', sans-serif ;
}

#particles-js{
    position: fixed;
    width:100%;
    height:100%;
    z-index: 10;
}

header{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
   padding: 25px 0;
   z-index: 99;
}

header li a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 40px;
}
header ul{
    list-style-type: none;
}

.name{
    margin-top: 95%;
}

.home  h1{
    font-size:50px;
    text-transform:uppercase;
    text-shadow: 0 15px 20px #000000b0;
    margin-bottom: 0;
    font-family: 'Quantico', sans-serif ;
    animation-delay: 0.9s;

}

.home h5{
    background: #000;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 0 50px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 2px;
    font-family: 'Caveat', sans-serif ;
    animation-delay: 0.9s;

}

.section-title{
    text-align: center;
}

.section-title h2{
    display: inline-block;
    font-size: 28px;
    border-bottom: 1px solid;
    text-transform: uppercase;
    padding: 0 0 10px;
}

.skills{
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    z-index: 99;
}
.skills .skills-info{
    display: flex;
    flex-wrap: wrap;

}

.skills .col{
    width: 40%;
    margin: 20px 30px;
    text-align: center;
}
.skills .col img{
    max-width: 50px;
}

.skills .col h3{
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 15px;
}

.skills.col p{
    line-height: 28px;
}

.experience-info{
    width:60%;
    margin:0 auto;
    padding: 50px 0;
    text-align: center;
    z-index: 99;
}
.experience-info p{
    line-height: 28px;
}
.experience-info .downloadbtn{
    display: inline-block;
    padding:15px 35px;
    background-color: #ffffff10;
    border: 1px solid #ffffff30;
    border-radius: 50px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 35px;
    position: relative;
    z-index:999;
}

.timeline{
    margin-top:50px;
    display: inline-block;
}
.timeline .col{
    margin: 5px;
    padding: 25px 30px;
    border:1px solid #ffffff30;
    float: left;
}
.timeline h6{
    margin: 15px 0 0;
    font-size:14px;
    line-height: 24px;
}
.project{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    z-index: 99;
}
.project-info{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}

.project-info.col{
    float:left;
    width: 30%;
    margin: 1% ;
}

.project-info.col img{
    max-width: 50%;
}

.navigation{
   position: absolute;
   top: 90%;
   left: 50%;

    background-color:  #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navigation:hover {background-color: #3e8e41}

.contact-info a{

    display: block;
    margin-top: 50%;
    font-size: xx-large;
    color: white;
}
.contact-body{
    background-image: url("../images/black-background-wood-i-e29da4-4k-hd-desktop-wallpaper-for-4k-ultra-hd-1024x640.jpg");
}

.contact{
    margin-top: 30%;
}

.experience{
    margin-top: 30%;
}
.project{
    margin-top: 30%;
}
.skills{
    margin-top: 30%;
}










